/* HTML */
:root{
    --type: #333;
}



*{
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
}

#logo{
    display: block;
    height: 100%;
    width: 100%;
}









#print-container{
    display: none;
}

#work-img{
    width: 100%;
}

/* #work-title{
    
}

#student-name{

} */









@media print {
    @page{
        margin: 0;
    }

    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #backGround{
        display: none;
    }

    #print-container{
        display: block;
        max-width: 90%;
        max-height: 90%;
    }
}