/* HTML */
:root{
    --type: #333;
}



*{
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
}

#logo{
    display: block;
    height: 100%;
    width: 100%;
}









#print-container{
    display: none;
}

#work-img{
    width: 100%;
}

#work-title{
    font-family: "aktiv-grotesk-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;

    color: black;
    -webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#student-name{
    font-family: "aktiv-grotesk-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
}









@media print {
    @page{
        margin: 0;
    }

    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #backGround{
        display: none;
    }

    #print-container{
        display: block;
        max-width: 90%;
        max-height: 90%;
    }
}