/* HTML */
:root{
    --type: #333;
}



*{
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
}

#logo{
    display: block;
    height: 100%;
    width: 100%;
}









#print-container{
    display: none;
}

#print-logo{
    width: 100%;
    height: 30%;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 11;
}

#print-year{
    height: 100%;
    position: fixed;
    inset: 50% 0 0 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

#print-work-container{
    width: 80%;
    height: 80%;
    position: fixed;
    inset: 50% 0 0 50%;
    transform: translate3d(-50%, -50%, 0);

    z-index: 10;
}



#work-img{
    max-width: 100%;
    max-height: 100%;
}

#work-title{
    font-family: "aktiv-grotesk-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;

    color: black;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#student-name{
    font-family: "aktiv-grotesk-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
}









@media print {
    @page{
        margin: 0;
    }

    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #backGround{
        display: none;
    }

    #print-container{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
    }
}