*{
    margin: 0;
}

body{
    height: calc(100vh - 2rem);
    width: calc(100vw - 2rem);
    padding: 1rem;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}