/* GLOBAL ------------------------------------------------------------------------------------------------------------- */
:root{
    --stroke-width: 2px;
    --stroke-color: #333;

    --cover-primary: #fff;
    --cover-type: #333;

    --type-primary: #000;
    --type-secondary: #fff;

    --folder-width: 3vw;
}

::selection {
    background: var(--type-primary);
}

::-moz-selection {
    background: var(--type-primary);
}

*{
    margin: 0;
    box-sizing: border-box;

    font-family: "aktiv-grotesk-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
}



















/* RAW ELEMENTS ------------------------------------------------------------------------------------------------------- */
body{
    position: relative;
}

main{
    position: relative;
}

article{
    width: 100vw;
}

section{
    position: relative;

    width: 100%;
    max-width: 1600px;

    margin: 0 auto;
    padding: 32px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside{
    position: fixed;
    right: 0;
    width: var(--folder-width);
    height: 50%;

    cursor: pointer;
}



















/* ANIMATIONS --------------------------------------------------------------------------------------------------------- */
.animatable{
    transition: all 0.5s ease-in-out;
}

.removed{
    transform: translateX(calc(-100% + var(--folder-width)));
}



















/* CREDITS SECTION ---------------------------------------------------------------------------------------------------- */
#folder-background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    pointer-events: none;
}

.folder-cover{
    width: 100%;
    height: 100%;

    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.2));
}

#students{
    height: 100vh;
    position: fixed;

    padding: 0 5vw;
    inset: 0;

    overflow-y: scroll;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;

    clip-path: polygon(0vw 0vh, calc(100vw - var(--folder-width)) 0vh, calc(100vw - var(--folder-width)) 47vh, 100vw 53vh, 100vw 100vh, 0vw 100vh);

    z-index: 1;
}

#students::-webkit-scrollbar{
    display: none;
}

#students-tab{
    position: fixed;
    inset: auto 0 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--cover-type);
}









.top-title{
    width: 50vw;
    position: relative;
    margin: 0 auto -16px auto;
}

#false-file{
    position: relative;
    width: 100%;

    border: var(--stroke-width) solid var(--stroke-color);
    border-top-right-radius: 4vw;
    border-top-left-radius: 4vw;

    background-color: var(--cover-primary);

    background-repeat: repeat-x;
    z-index: 1;
}

.date-year{
    position: absolute;
    width: 98vw;
    margin: -32px auto auto -4vw;

    z-index: 0;
    pointer-events: none;
}

.web-title{
    position: relative;
    width: calc(100% + 2vw);
    margin: -16px auto auto -1vw;
}









#when{
    width: 100%;
    position: relative;
}

.date-container{
    height: 45vh;
    margin-top: -32px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.date-container img{
    width: calc(100% + 4vw);
    height: 100%;
    margin-left: -2vw;

    position: absolute;
    inset: 0;
}









#credits{
    width: calc(100% + 4vw);
    margin: -16px 0 -10vw -2vw;

    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: center;
    position: relative;
}

#credits p{
    font-size: 5rem;
    line-height: 4.5rem;
    white-space: nowrap;

    color: var(--cover-type);
    -webkit-text-fill-color: var(--cover-primary);
    -webkit-text-stroke-width: var(--stroke-width);
    -webkit-text-stroke-color: var(--stroke-color);

    display: block;
    transform: scaleY(1.5);
}

#credits p a{
    color: var(--cover-type);
    -webkit-text-fill-color: var(--cover-primary);
    -webkit-text-stroke-width: var(--stroke-width);
    -webkit-text-stroke-color: var(--stroke-color);

    cursor: pointer;
    text-decoration: none;
}

#credits p a:hover{
    -webkit-text-fill-color: var(--cover-type);
}

#credits p a:visited{
    color: inherit;
}









.other-files div{
    width: 100%;
    height: 5vw;

    border-top: var(--stroke-width) solid var(--stroke-color);
}

.last-file{
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-file h2{
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.bottom-title{
    width: 30vw;
    position: relative;
    inset: 0 auto;
    margin: -12px auto 0 auto;
    z-index: 0;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -3.5%;
}









#cover-gradient{
    position: absolute;
    inset: 0 auto 0 0;
    height: 100%;
    width: 97vw;
    
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 2;
}



















/* WORK SECTION ------------------------------------------------------------------------------------------------------- */
#work{
    position: relative;
    z-index: 0;
    padding: 0 5vw;
}

#work-tab{
    position: fixed;
    inset: 0 0 auto auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

#work-tab h1{
    color: var(--type-primary);
}









.introduction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.intro-logo{
    width: 25%;
}

.introduction p{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 2rem;
    color: var(--type-primary);
}

.introduction p::selection{
    color: var(--type-secondary);
}

strong{
    font-weight: 900;
}

strong::selection{
    color: var(--type-secondary);
}

hr{
    width: 100%;
    border-width: 2px;
    border-color: var(--type-primary);
}









#submission-section{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1rem;
    row-gap: 2rem;
    align-items: start;
}

.submission{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    mix-blend-mode: multiply;
}

.submission:hover{
    filter: grayscale(0%);
    mix-blend-mode: normal;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.1));
}

.hovering{
    filter: grayscale(0%);
    mix-blend-mode: normal;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.1));
}

.submission img{
    width: 100%;
}

.submission p{
    font-weight: 500;

    font-size: 1rem;
    line-height: 1.2rem;

    margin-top: 0.5rem;
    color: var(--type-primary);
}



















/* TEAMS -------------------------------------------------------------------------------------------------------------- */
.teams{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1rem;
    row-gap: 2rem;
    align-items: start;
}

.teams a{
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 2rem;
    text-decoration: none;
    color: var(--type-primary);
}

.teams a::selection{
    color: var(--type-secondary);
}



















/* PRINT -------------------------------------------------------------------------------------------------------------- */
#print{
    display: none;
}



















/* TYPE --------------------------------------------------------------------------------------------------------------- */
h1{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;

    transform: rotate(90deg);
}

h1::selection{
    color: var(--type-secondary);
}

h2{
    font-size: 3rem;
    line-height: 3rem;

    white-space: nowrap;
    position: relative;

    color: var(--cover-type);
}

h2::selection{
    color: var(--type-secondary);
}

h3{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--cover-type);
}

h3 a{
    text-decoration: none;
    color: var(--cover-type);
    cursor: pointer;
}

h4{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--type-primary);
}

h4::selection{
    color: var(--type-secondary);
}

h5{
    font-size: 1.5rem;
    line-height: 1.5rem;

    color: var(--type-secondary);
    -webkit-text-fill-color: var(--type-secondary);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--type-primary);
}

p{
    font-family: "aktiv-grotesk", sans-serif;
    font-style: normal;

    color: var(--type-secondary);
}

p::selection{
    color: var(--type-secondary);
}



















/* MEDIA QUERIES STARTS HERE ------------------------------------------------------------------------------------------ */
@media only screen and (max-width: 1400px) {
    h1{
        font-size: 1.7vw;
    }

    #credits p{
        font-size: 6vw;
        line-height: 5.5vw;
    }
}

/* @media only screen and (min-width: 1700px) {
    #top-title{
        width: 850px;
    }

    #bottom-title{
        width: 510px;
    }

    .other-files{
        height: 85px;
    }

    #credits{
        margin: -1rem 0 -170px -3rem;
    }
} */

/* @media only screen and (max-width: 1000px) {
    main{
        padding: 2vh 5vw;
    }

    #false-file{
        margin-top: -1vh;
    }
    
    #web-title{
        width: calc(100% + 10vw);
        margin: -1vh 0 0 -5vw;
    }
    
    #date-year{
        width: calc(100% + 10vw);
        margin: -5vw;
    }

    #when{
        margin: -1vh 0;
    }
    
    #month-container{
        width: calc(100% + 8vw);
        margin-left: -4vw;
    }
    
    .date-container{
        width: calc(100% + 8vw);
        margin-left: -4vw;
        height: 45vh;
    }

    .date-svg{
        width: 100%;
        margin-left: 0;
    }

    #credits{
        width: calc(100% + 8vw);
        margin: -2vw 0 -10vw -4vw;
    }
} */

/* @media only screen and (max-width: 957px) {
    .date-container{
        height: 40vw;
    }

    p{
        font-size: 4.5rem;
        line-height: 4rem;
    }

    #bottom-title{
        width: 50vw;
        margin-top: -2%;
    }

    #footer{
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;
    }
} */
  
/* @media only screen and (max-width: 886px) {
    h1{
        font-size: 5vw;
        line-height: 5vw;
    }

    h2{
        font-size: 2.5vw;
        line-height: 2.25vw;
    }

    p{
        font-size: 7.5vw;
        line-height: 6.25vw;
    }
} */

/* @media only screen and (max-width: 700px) {
    :root{
        --stroke-width: 1px;
        --stroke-color: #000;
    }

    #month-container{
        background-image: url(../assets/mobile-svg/date-month-mobile.svg);
    }
} */

/* @media only screen and (max-width: 450px) {
    p{
        font-size: 6vw;
        line-height: 5vw;
    }
} */