/* HTML */
:root{
    --stroke-width: 2px;
    --stroke-color: #000;
}



*{
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}










article{
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0 5%;
}

#credits{
    background-color: red;
    clip-path: polygon(0% 0%, 100% 0%, 100% 33%, 95% 33%, 95% 100%, 0% 100%);
}

#work{
    background-color: green;
    clip-path: polygon(0% 0%, 100% 0%, 100% 66%, 95% 66%, 95% 100%, 0% 100%);
}

#exhibition{
    background-color: blue;
}







section{
    width: 100%;
    max-width: 1400px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: aqua;
}